
DATABASE_URL="postgresql://foodsaver_user:foodsaver_pass@localhost:5432/foodsaver"

# Удаленная БД (если используете Prisma Postgres или облако)
# DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"

JWT_SECRET="ВАШ_СЛОЖНЫЙ_СЕКРЕТ_ЗДЕСЬ_32_И_БОЛЕЕ_СИМВОЛОВ"

PORT=3000
NODE_ENV="development"

FIREBASE_CREDENTIALS="./src/config/firebase-service-account.json"

# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

#DATABASE_URL="postgresql://postgres:goxlr3450@localhost:5432/foodapp?schema=public"
PGHOST="localhost"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD="goxlr3450"
PGDATABASE="foodapp"
DB_NAME="foodapp"
